<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite">
    <test name="TestNG Test0">
        <classes>
            <class name="com.internetapp.tests.Login"/>
        </classes>
    </test> <!-- TestNG Test0 -->
</suite> <!-- TestNG Suite -->